## Report Questions
 • How many clients had 3 or more services in FY 2016-17?
 
 • What was the average amount of services per client in FY 2016-17?
 

• Create a chart that reflects the unique amount of clients who had jail services in FY 2016-17 broken down by Jail facility.  Note any findings.
 
 • Create a table that reflects the number of IP Hospital services in FY 2016-17 broken down by month and hospital name.  Note any findings.

• Note any other interesting findings from the data.

# Extracting the data from excel file

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel (r'C:\Users\isaia\Downloads\Skills Assessment December 2020.xlsx', index_col=0, sheet_name=None)
print (df)

OrderedDict([('Instructions', Empty DataFrame
Columns: []
Index: [Answer as many of the below Report Questions in the "Report" tab that you can., Please show your work (formulas, pivot tables, etc.) and don’t be afraid to be creative with charts and graphs!, Create a dashboard using the program of your choice (Excel/PowerBi/Python/Etc..) to visually display your data., Compose a short narrative to explain your findings., Report Questions, • How many clients had 3 or more services in FY 2016-17?, • What was the average amount of services per client in FY 2016-17?, • Create a chart that reflects the unique amount of clients who had jail services in FY 2016-17 broken down by Jail facility.  Note any findings., • Create a table that reflects the number of IP Hospital services in FY 2016-17 broken down by month and hospital name.  Note any findings., • What percentage of unique clients that received IP Hospital services in FY 2016-17 were homeless?, • Note any other interesting findings from the data., Term Definitions, IP Hospital - Psychiatric Inpatient Hospital, PERT - Psychiatric Emergency Response Team, Jail - Mental Health Services Received in a Jail Facility]), ('Clients',            Gender Homeless Status
Client ID
1            Male        Homeless
2            Male    Not Homeless
3          Female    Not Homeless
4          Female    Not Homeless
5            Male    Not Homeless
6            Male        Homeless
7            Male    Not Homeless
8            Male    Not Homeless
9          Female    Not Homeless
10           Male    Not Homeless
11           Male    Not Homeless
12           Male    Not Homeless
13         Female        Homeless
14           Male    Not Homeless
15           Male    Not Homeless
16           Male    Not Homeless
17         Female        Homeless
18           Male    Not Homeless
19           Male        Homeless
20         Female    Not Homeless
21           Male    Not Homeless
22           Male    Not Homeless
23         Female    Not Homeless
24         Female    Not Homeless
25           Male    Not Homeless
26         Female    Not Homeless
27           Male    Not Homeless
28         Female    Not Homeless
29           Male    Not Homeless
30           Male    Not Homeless
...           ...             ...
171          Male    Not Homeless
172        Female        Homeless
173        Female    Not Homeless
174          Male        Homeless
175        Female    Not Homeless
176          Male    Not Homeless
177          Male    Not Homeless
178          Male        Homeless
179        Female    Not Homeless
180          Male    Not Homeless
181          Male    Not Homeless
182        Female        Homeless
183          Male        Homeless
184          Male        Homeless
185          Male    Not Homeless
186          Male        Homeless
187          Male    Not Homeless
188        Female        Homeless
189          Male    Not Homeless
190        Female    Not Homeless
191          Male    Not Homeless
192        Female    Not Homeless
193        Female    Not Homeless
194          Male        Homeless
195          Male    Not Homeless
196          Male        Homeless
197          Male    Not Homeless
198        Female    Not Homeless
199          Male        Homeless
200          Male        Homeless

[200 rows x 2 columns]), ('Client Services in FY 2016-17',            SubUnit ID Service Date
Client ID
19               9502   2016-07-01
158              9503   2016-07-01
91               1141   2016-07-01
11               9507   2016-07-02
137              4131   2016-07-02
115              1522   2016-07-02
4                1211   2016-07-03
186              1211   2016-07-04
199              1531   2016-07-04
178              1522   2016-07-05
144              1541   2016-07-05
59               9501   2016-07-06
76               9503   2016-07-06
172              1511   2016-07-06
148              1211   2016-07-07
104              9502   2016-07-07
26               1141   2016-07-07
46               1522   2016-07-07
135              1541   2016-07-07
97               9505   2016-07-08
193              1511   2016-07-08
34               1511   2016-07-08
47               1522   2016-07-08
155              4131   2016-07-11
109              1211   2016-07-12
10               9502   2016-07-12
152              9503   2016-07-12
68               4131   2016-07-12
68               4132   2016-07-12
182              1211   2016-07-13
...               ...          ...
101              1541   2017-06-05
100              1211   2017-06-06
198              9504   2017-06-07
108              1511   2017-06-08
154              1511   2017-06-08
82               1541   2017-06-08
199              1541   2017-06-08
35               4131   2017-06-09
132              1211   2017-06-11
187              9503   2017-06-11
35               9505   2017-06-11
110              1511   2017-06-11
111              9502   2017-06-12
117              1511   2017-06-12
199              1141   2017-06-13
82               1141   2017-06-13
193              4132   2017-06-15
172              9502   2017-06-16
200              4131   2017-06-16
163              4131   2017-06-16
104              9503   2017-06-21
120              9503   2017-06-22
121              1541   2017-06-24
79               4131   2017-06-25
11               9508   2017-06-27
114              1522   2017-06-27
102              1522   2017-06-27
87               1541   2017-06-27
117              1511   2017-06-29
46               1541   2017-06-29

[514 rows x 2 columns]), ('Service Descriptions',                      Service Facility Name Service Category         Region
SubUnit ID
1211             CO SD CO PSYCH HOSP INPAT      IP Hospital  North Central
9501                   ALVARADO PKWY INST       IP Hospital           East
9502                   PH BAYVIEW HOSPITAL      IP Hospital          South
9503               PH PARADISE VALLEY HOSP      IP Hospital          South
9504                   UCSD MEDICAL CENTER      IP Hospital        Central
9505                  SHARP GROSSMONT HOSP      IP Hospital           East
9506              SCRIPPS MERCY HEALTHCARE      IP Hospital        Central
9507                PALOMAR MEDICAL CENTER      IP Hospital   North Inland
9508                     TRI-CITY HOSPITAL      IP Hospital  North Coastal
9511             SHARP MESA VISTA HOSP (A)      IP Hospital  North Central
9515              OUT OF COUNTY HOSP ADULT      IP Hospital     No Address
4131                         CRF PERT MHSA             PERT  North Central
4132                        CRF PERT STAFF             PERT  North Central
1141               CO Adult Forensics Eval             Jail        Central
1511                     CO Las Colinas OP             Jail           East
1512               CO Las Colinas IP (PSU)             Jail           East
1521              CO Central Jail IP (PSU)             Jail        Central
1522                    CO Central Jail OP             Jail        Central
1531        CO Vista Detention Facility OP             Jail  North Coastal
1541         CO George Bailey Detention OP             Jail        Central), ('Report', Empty DataFrame
Columns: []
Index: [])])

In [3]:
df_dict = {}
sheetname_list = ['Instructions', 'Clients', 'Client Services in FY 2016-17', 'Service Descriptions']
for sheet in sheetname_list:
    df_dict[sheet] = pd.read_excel(r'C:\Users\isaia\Downloads\Skills Assessment December 2020.xlsx', index_col=0, sheet_name=sheet)

In [4]:
df_dict

{'Instructions': Empty DataFrame
 Columns: []
 Index: [Answer as many of the below Report Questions in the "Report" tab that you can., Please show your work (formulas, pivot tables, etc.) and don’t be afraid to be creative with charts and graphs!, Create a dashboard using the program of your choice (Excel/PowerBi/Python/Etc..) to visually display your data., Compose a short narrative to explain your findings., Report Questions, • How many clients had 3 or more services in FY 2016-17?, • What was the average amount of services per client in FY 2016-17?, • Create a chart that reflects the unique amount of clients who had jail services in FY 2016-17 broken down by Jail facility.  Note any findings., • Create a table that reflects the number of IP Hospital services in FY 2016-17 broken down by month and hospital name.  Note any findings., • What percentage of unique clients that received IP Hospital services in FY 2016-17 were homeless?, • Note any other interesting findings from the data., Term Definitions, IP Hospital - Psychiatric Inpatient Hospital, PERT - Psychiatric Emergency Response Team, Jail - Mental Health Services Received in a Jail Facility],
 'Clients':            Gender Homeless Status
 Client ID
 1            Male        Homeless
 2            Male    Not Homeless
 3          Female    Not Homeless
 4          Female    Not Homeless
 5            Male    Not Homeless
 6            Male        Homeless
 7            Male    Not Homeless
 8            Male    Not Homeless
 9          Female    Not Homeless
 10           Male    Not Homeless
 11           Male    Not Homeless
 12           Male    Not Homeless
 13         Female        Homeless
 14           Male    Not Homeless
 15           Male    Not Homeless
 16           Male    Not Homeless
 17         Female        Homeless
 18           Male    Not Homeless
 19           Male        Homeless
 20         Female    Not Homeless
 21           Male    Not Homeless
 22           Male    Not Homeless
 23         Female    Not Homeless
 24         Female    Not Homeless
 25           Male    Not Homeless
 26         Female    Not Homeless
 27           Male    Not Homeless
 28         Female    Not Homeless
 29           Male    Not Homeless
 30           Male    Not Homeless
 ...           ...             ...
 171          Male    Not Homeless
 172        Female        Homeless
 173        Female    Not Homeless
 174          Male        Homeless
 175        Female    Not Homeless
 176          Male    Not Homeless
 177          Male    Not Homeless
 178          Male        Homeless
 179        Female    Not Homeless
 180          Male    Not Homeless
 181          Male    Not Homeless
 182        Female        Homeless
 183          Male        Homeless
 184          Male        Homeless
 185          Male    Not Homeless
 186          Male        Homeless
 187          Male    Not Homeless
 188        Female        Homeless
 189          Male    Not Homeless
 190        Female    Not Homeless
 191          Male    Not Homeless
 192        Female    Not Homeless
 193        Female    Not Homeless
 194          Male        Homeless
 195          Male    Not Homeless
 196          Male        Homeless
 197          Male    Not Homeless
 198        Female    Not Homeless
 199          Male        Homeless
 200          Male        Homeless

 [200 rows x 2 columns],
 'Client Services in FY 2016-17':            SubUnit ID Service Date
 Client ID
 19               9502   2016-07-01
 158              9503   2016-07-01
 91               1141   2016-07-01
 11               9507   2016-07-02
 137              4131   2016-07-02
 115              1522   2016-07-02
 4                1211   2016-07-03
 186              1211   2016-07-04
 199              1531   2016-07-04
 178              1522   2016-07-05
 144              1541   2016-07-05
 59               9501   2016-07-06
 76               9503   2016-07-06
 172              1511   2016-07-06
 148              1211   2016-07-07
 104              9502   2016-07-07
 26               1141   2016-07-07
 46               1522   2016-07-07
 135              1541   2016-07-07
 97               9505   2016-07-08
 193              1511   2016-07-08
 34               1511   2016-07-08
 47               1522   2016-07-08
 155              4131   2016-07-11
 109              1211   2016-07-12
 10               9502   2016-07-12
 152              9503   2016-07-12
 68               4131   2016-07-12
 68               4132   2016-07-12
 182              1211   2016-07-13
 ...               ...          ...
 101              1541   2017-06-05
 100              1211   2017-06-06
 198              9504   2017-06-07
 108              1511   2017-06-08
 154              1511   2017-06-08
 82               1541   2017-06-08
 199              1541   2017-06-08
 35               4131   2017-06-09
 132              1211   2017-06-11
 187              9503   2017-06-11
 35               9505   2017-06-11
 110              1511   2017-06-11
 111              9502   2017-06-12
 117              1511   2017-06-12
 199              1141   2017-06-13
 82               1141   2017-06-13
 193              4132   2017-06-15
 172              9502   2017-06-16
 200              4131   2017-06-16
 163              4131   2017-06-16
 104              9503   2017-06-21
 120              9503   2017-06-22
 121              1541   2017-06-24
 79               4131   2017-06-25
 11               9508   2017-06-27
 114              1522   2017-06-27
 102              1522   2017-06-27
 87               1541   2017-06-27
 117              1511   2017-06-29
 46               1541   2017-06-29

 [514 rows x 2 columns],
 'Service Descriptions':                      Service Facility Name Service Category         Region
 SubUnit ID
 1211             CO SD CO PSYCH HOSP INPAT      IP Hospital  North Central
 9501                   ALVARADO PKWY INST       IP Hospital           East
 9502                   PH BAYVIEW HOSPITAL      IP Hospital          South
 9503               PH PARADISE VALLEY HOSP      IP Hospital          South
 9504                   UCSD MEDICAL CENTER      IP Hospital        Central
 9505                  SHARP GROSSMONT HOSP      IP Hospital           East
 9506              SCRIPPS MERCY HEALTHCARE      IP Hospital        Central
 9507                PALOMAR MEDICAL CENTER      IP Hospital   North Inland
 9508                     TRI-CITY HOSPITAL      IP Hospital  North Coastal
 9511             SHARP MESA VISTA HOSP (A)      IP Hospital  North Central
 9515              OUT OF COUNTY HOSP ADULT      IP Hospital     No Address
 4131                         CRF PERT MHSA             PERT  North Central
 4132                        CRF PERT STAFF             PERT  North Central
 1141               CO Adult Forensics Eval             Jail        Central
 1511                     CO Las Colinas OP             Jail           East
 1512               CO Las Colinas IP (PSU)             Jail           East
 1521              CO Central Jail IP (PSU)             Jail        Central
 1522                    CO Central Jail OP             Jail        Central
 1531        CO Vista Detention Facility OP             Jail  North Coastal
 1541         CO George Bailey Detention OP             Jail        Central}

In [5]:
import numpy as np

In [6]:
df_dict['Client Services in FY 2016-17'] #checking to make sure I can access the various sheets through dictionary command

           SubUnit ID Service Date
Client ID
19               9502   2016-07-01
158              9503   2016-07-01
91               1141   2016-07-01
11               9507   2016-07-02
137              4131   2016-07-02
115              1522   2016-07-02
4                1211   2016-07-03
186              1211   2016-07-04
199              1531   2016-07-04
178              1522   2016-07-05
144              1541   2016-07-05
59               9501   2016-07-06
76               9503   2016-07-06
172              1511   2016-07-06
148              1211   2016-07-07
104              9502   2016-07-07
26               1141   2016-07-07
46               1522   2016-07-07
135              1541   2016-07-07
97               9505   2016-07-08
193              1511   2016-07-08
34               1511   2016-07-08
47               1522   2016-07-08
155              4131   2016-07-11
109              1211   2016-07-12
10               9502   2016-07-12
152              9503   2016-07-12
68               4131   2016-07-12
68               4132   2016-07-12
182              1211   2016-07-13
...               ...          ...
101              1541   2017-06-05
100              1211   2017-06-06
198              9504   2017-06-07
108              1511   2017-06-08
154              1511   2017-06-08
82               1541   2017-06-08
199              1541   2017-06-08
35               4131   2017-06-09
132              1211   2017-06-11
187              9503   2017-06-11
35               9505   2017-06-11
110              1511   2017-06-11
111              9502   2017-06-12
117              1511   2017-06-12
199              1141   2017-06-13
82               1141   2017-06-13
193              4132   2017-06-15
172              9502   2017-06-16
200              4131   2017-06-16
163              4131   2017-06-16
104              9503   2017-06-21
120              9503   2017-06-22
121              1541   2017-06-24
79               4131   2017-06-25
11               9508   2017-06-27
114              1522   2017-06-27
102              1522   2017-06-27
87               1541   2017-06-27
117              1511   2017-06-29
46               1541   2017-06-29

[514 rows x 2 columns]

In [7]:
df_dict['Instructions']

Empty DataFrame
Columns: []
Index: [Answer as many of the below Report Questions in the "Report" tab that you can., Please show your work (formulas, pivot tables, etc.) and don’t be afraid to be creative with charts and graphs!, Create a dashboard using the program of your choice (Excel/PowerBi/Python/Etc..) to visually display your data., Compose a short narrative to explain your findings., Report Questions, • How many clients had 3 or more services in FY 2016-17?, • What was the average amount of services per client in FY 2016-17?, • Create a chart that reflects the unique amount of clients who had jail services in FY 2016-17 broken down by Jail facility.  Note any findings., • Create a table that reflects the number of IP Hospital services in FY 2016-17 broken down by month and hospital name.  Note any findings., • What percentage of unique clients that received IP Hospital services in FY 2016-17 were homeless?, • Note any other interesting findings from the data., Term Definitions, IP Hospital - Psychiatric Inpatient Hospital, PERT - Psychiatric Emergency Response Team, Jail - Mental Health Services Received in a Jail Facility]

In [8]:
client = df_dict['Client Services in FY 2016-17'] #defining the client services sheet as a pandas dataframe for use

In [9]:
client

           SubUnit ID Service Date
Client ID
19               9502   2016-07-01
158              9503   2016-07-01
91               1141   2016-07-01
11               9507   2016-07-02
137              4131   2016-07-02
115              1522   2016-07-02
4                1211   2016-07-03
186              1211   2016-07-04
199              1531   2016-07-04
178              1522   2016-07-05
144              1541   2016-07-05
59               9501   2016-07-06
76               9503   2016-07-06
172              1511   2016-07-06
148              1211   2016-07-07
104              9502   2016-07-07
26               1141   2016-07-07
46               1522   2016-07-07
135              1541   2016-07-07
97               9505   2016-07-08
193              1511   2016-07-08
34               1511   2016-07-08
47               1522   2016-07-08
155              4131   2016-07-11
109              1211   2016-07-12
10               9502   2016-07-12
152              9503   2016-07-12
68               4131   2016-07-12
68               4132   2016-07-12
182              1211   2016-07-13
...               ...          ...
101              1541   2017-06-05
100              1211   2017-06-06
198              9504   2017-06-07
108              1511   2017-06-08
154              1511   2017-06-08
82               1541   2017-06-08
199              1541   2017-06-08
35               4131   2017-06-09
132              1211   2017-06-11
187              9503   2017-06-11
35               9505   2017-06-11
110              1511   2017-06-11
111              9502   2017-06-12
117              1511   2017-06-12
199              1141   2017-06-13
82               1141   2017-06-13
193              4132   2017-06-15
172              9502   2017-06-16
200              4131   2017-06-16
163              4131   2017-06-16
104              9503   2017-06-21
120              9503   2017-06-22
121              1541   2017-06-24
79               4131   2017-06-25
11               9508   2017-06-27
114              1522   2017-06-27
102              1522   2017-06-27
87               1541   2017-06-27
117              1511   2017-06-29
46               1541   2017-06-29

[514 rows x 2 columns]

In [10]:
client= client.reset_index() #creating a new index so that I can use the CLient ID variable

In [11]:
client

     Client ID  SubUnit ID Service Date
0           19        9502   2016-07-01
1          158        9503   2016-07-01
2           91        1141   2016-07-01
3           11        9507   2016-07-02
4          137        4131   2016-07-02
5          115        1522   2016-07-02
6            4        1211   2016-07-03
7          186        1211   2016-07-04
8          199        1531   2016-07-04
9          178        1522   2016-07-05
10         144        1541   2016-07-05
11          59        9501   2016-07-06
12          76        9503   2016-07-06
13         172        1511   2016-07-06
14         148        1211   2016-07-07
15         104        9502   2016-07-07
16          26        1141   2016-07-07
17          46        1522   2016-07-07
18         135        1541   2016-07-07
19          97        9505   2016-07-08
20         193        1511   2016-07-08
21          34        1511   2016-07-08
22          47        1522   2016-07-08
23         155        4131   2016-07-11
24         109        1211   2016-07-12
25          10        9502   2016-07-12
26         152        9503   2016-07-12
27          68        4131   2016-07-12
28          68        4132   2016-07-12
29         182        1211   2016-07-13
..         ...         ...          ...
484        101        1541   2017-06-05
485        100        1211   2017-06-06
486        198        9504   2017-06-07
487        108        1511   2017-06-08
488        154        1511   2017-06-08
489         82        1541   2017-06-08
490        199        1541   2017-06-08
491         35        4131   2017-06-09
492        132        1211   2017-06-11
493        187        9503   2017-06-11
494         35        9505   2017-06-11
495        110        1511   2017-06-11
496        111        9502   2017-06-12
497        117        1511   2017-06-12
498        199        1141   2017-06-13
499         82        1141   2017-06-13
500        193        4132   2017-06-15
501        172        9502   2017-06-16
502        200        4131   2017-06-16
503        163        4131   2017-06-16
504        104        9503   2017-06-21
505        120        9503   2017-06-22
506        121        1541   2017-06-24
507         79        4131   2017-06-25
508         11        9508   2017-06-27
509        114        1522   2017-06-27
510        102        1522   2017-06-27
511         87        1541   2017-06-27
512        117        1511   2017-06-29
513         46        1541   2017-06-29

[514 rows x 3 columns]

In [12]:

client.groupby('Client ID').size() #I need to be able to print this, the people have occur more than 3 times

Client ID
1       4
2       1
3       4
4       2
5       1
6       1
7       6
8       1
9       3
10     12
11     10
12      2
13      1
14      3
15      1
16      1
17      1
18      1
19      2
20      2
21      1
22      1
23      3
24      1
25      3
26      1
27      1
28      1
29      3
30      3
       ..
171     1
172    13
173     1
174     3
175     1
176     2
177     2
178     4
179     1
180     1
181     1
182     3
183     3
184     3
185     6
186     7
187    10
188     7
189     2
190     1
191     1
192     1
193     2
194     4
195     1
196     1
197     3
198     1
199    10
200     3
Length: 200, dtype: int64

In [13]:
client['Client ID']=client['Client ID'].astype(str) #converting Client ID to a string or object so that I can manipulate it

In [14]:
client.head

<bound method NDFrame.head of     Client ID  SubUnit ID Service Date
0          19        9502   2016-07-01
1         158        9503   2016-07-01
2          91        1141   2016-07-01
3          11        9507   2016-07-02
4         137        4131   2016-07-02
5         115        1522   2016-07-02
6           4        1211   2016-07-03
7         186        1211   2016-07-04
8         199        1531   2016-07-04
9         178        1522   2016-07-05
10        144        1541   2016-07-05
11         59        9501   2016-07-06
12         76        9503   2016-07-06
13        172        1511   2016-07-06
14        148        1211   2016-07-07
15        104        9502   2016-07-07
16         26        1141   2016-07-07
17         46        1522   2016-07-07
18        135        1541   2016-07-07
19         97        9505   2016-07-08
20        193        1511   2016-07-08
21         34        1511   2016-07-08
22         47        1522   2016-07-08
23        155        4131   2016-07-11
24        109        1211   2016-07-12
25         10        9502   2016-07-12
26        152        9503   2016-07-12
27         68        4131   2016-07-12
28         68        4132   2016-07-12
29        182        1211   2016-07-13
..        ...         ...          ...
484       101        1541   2017-06-05
485       100        1211   2017-06-06
486       198        9504   2017-06-07
487       108        1511   2017-06-08
488       154        1511   2017-06-08
489        82        1541   2017-06-08
490       199        1541   2017-06-08
491        35        4131   2017-06-09
492       132        1211   2017-06-11
493       187        9503   2017-06-11
494        35        9505   2017-06-11
495       110        1511   2017-06-11
496       111        9502   2017-06-12
497       117        1511   2017-06-12
498       199        1141   2017-06-13
499        82        1141   2017-06-13
500       193        4132   2017-06-15
501       172        9502   2017-06-16
502       200        4131   2017-06-16
503       163        4131   2017-06-16
504       104        9503   2017-06-21
505       120        9503   2017-06-22
506       121        1541   2017-06-24
507        79        4131   2017-06-25
508        11        9508   2017-06-27
509       114        1522   2017-06-27
510       102        1522   2017-06-27
511        87        1541   2017-06-27
512       117        1511   2017-06-29
513        46        1541   2017-06-29

[514 rows x 3 columns]>

In [15]:
client['Client ID'].dtype #checking data type

dtype('O')

## Addressing questions 1 and 2 from the instructions

In [16]:
S=client['Client ID'].value_counts() #counting how many occurences each patient has 
S

104    15
172    13
10     12
199    10
11     10
187    10
41      9
68      9
143     9
111     8
100     8
34      7
186     7
188     7
82      6
46      6
130     6
7       6
120     6
88      6
185     6
85      5
162     5
101     5
122     5
45      5
157     5
129     4
1       4
125     4
       ..
140     1
43      1
50      1
191     1
17      1
24      1
112     1
180     1
33      1
131     1
181     1
69      1
132     1
95      1
93      1
141     1
55      1
153     1
165     1
190     1
8       1
53      1
90      1
13      1
56      1
102     1
6       1
26      1
18      1
62      1
Name: Client ID, Length: 200, dtype: int64

In [17]:
print (S[S>2]) #identifying those who went for a service 3 or more times, found to be 66 patients who had services 3 or more

104    15
172    13
10     12
199    10
11     10
187    10
41      9
68      9
143     9
111     8
100     8
34      7
186     7
188     7
82      6
46      6
130     6
7       6
120     6
88      6
185     6
85      5
162     5
101     5
122     5
45      5
157     5
129     4
1       4
125     4
       ..
3       4
74      4
152     4
151     4
87      4
163     4
183     3
70      3
91      3
139     3
86      3
184     3
9       3
29      3
174     3
30      3
123     3
118     3
197     3
73      3
156     3
182     3
159     3
14      3
25      3
144     3
200     3
23      3
72      3
84      3
Name: Client ID, Length: 66, dtype: int64

In [18]:
S.mean() #identifying the mean value count

2.57

## Preparing to address instruction 3 for creating a chart that reflects the unique amount of clients who had jail services in FY 2016-2017 by jail facility

 Make a list of Subunit ID's and filter by the list

In [19]:
subid_list = ['1141', '1511', '1512', '1521', '1522', '1531', '1541'] #create a sublist based on the jail facility codes in subunit


client['SubUnit ID'].isin(subid_list)
#extract this by unique Client Id
new = client['SubUnit ID'].isin(subid_list) #create a new variable, True if present in those jail facilities, False if not present

In [20]:
new

0      False
1      False
2       True
3      False
4      False
5       True
6      False
7      False
8       True
9       True
10      True
11     False
12     False
13      True
14     False
15     False
16      True
17      True
18      True
19     False
20      True
21      True
22      True
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
484     True
485    False
486    False
487     True
488     True
489     True
490     True
491    False
492    False
493    False
494    False
495     True
496    False
497     True
498     True
499     True
500    False
501    False
502    False
503    False
504    False
505    False
506     True
507    False
508    False
509     True
510     True
511     True
512     True
513     True
Name: SubUnit ID, Length: 514, dtype: bool

In [21]:
newframe=client[new] #Clients who had jail services
newframe

    Client ID  SubUnit ID Service Date
2          91        1141   2016-07-01
5         115        1522   2016-07-02
8         199        1531   2016-07-04
9         178        1522   2016-07-05
10        144        1541   2016-07-05
13        172        1511   2016-07-06
16         26        1141   2016-07-07
17         46        1522   2016-07-07
18        135        1541   2016-07-07
20        193        1511   2016-07-08
21         34        1511   2016-07-08
22         47        1522   2016-07-08
35         34        1512   2016-07-16
37         23        1511   2016-07-19
43        160        1522   2016-07-20
44         23        1512   2016-07-21
45        176        1541   2016-07-21
47        143        1541   2016-07-22
48         68        1522   2016-07-23
52        122        1522   2016-07-25
56        178        1541   2016-07-26
58         72        1541   2016-07-27
65        128        1141   2016-07-29
69         91        1141   2016-08-01
70         23        1512   2016-08-01
71        186        1522   2016-08-02
72         72        1541   2016-08-02
76        199        1522   2016-08-05
77        129        1522   2016-08-05
82        130        1511   2016-08-09
..        ...         ...          ...
457       183        1541   2017-05-19
458       134        1541   2017-05-19
463        12        1522   2017-05-22
464       101        1541   2017-05-22
468        77        1141   2017-05-25
469        58        1541   2017-05-25
472       172        1511   2017-05-27
473        25        1541   2017-05-28
474       125        1511   2017-05-30
475        41        1511   2017-05-31
478       151        1522   2017-06-01
479       200        1521   2017-06-02
480       184        1522   2017-06-02
482       131        1511   2017-06-03
483       104        1522   2017-06-04
484       101        1541   2017-06-05
487       108        1511   2017-06-08
488       154        1511   2017-06-08
489        82        1541   2017-06-08
490       199        1541   2017-06-08
495       110        1511   2017-06-11
497       117        1511   2017-06-12
498       199        1141   2017-06-13
499        82        1141   2017-06-13
506       121        1541   2017-06-24
509       114        1522   2017-06-27
510       102        1522   2017-06-27
511        87        1541   2017-06-27
512       117        1511   2017-06-29
513        46        1541   2017-06-29

[228 rows x 3 columns]

In [22]:
client[new].groupby('SubUnit ID')
client[new]

    Client ID  SubUnit ID Service Date
2          91        1141   2016-07-01
5         115        1522   2016-07-02
8         199        1531   2016-07-04
9         178        1522   2016-07-05
10        144        1541   2016-07-05
13        172        1511   2016-07-06
16         26        1141   2016-07-07
17         46        1522   2016-07-07
18        135        1541   2016-07-07
20        193        1511   2016-07-08
21         34        1511   2016-07-08
22         47        1522   2016-07-08
35         34        1512   2016-07-16
37         23        1511   2016-07-19
43        160        1522   2016-07-20
44         23        1512   2016-07-21
45        176        1541   2016-07-21
47        143        1541   2016-07-22
48         68        1522   2016-07-23
52        122        1522   2016-07-25
56        178        1541   2016-07-26
58         72        1541   2016-07-27
65        128        1141   2016-07-29
69         91        1141   2016-08-01
70         23        1512   2016-08-01
71        186        1522   2016-08-02
72         72        1541   2016-08-02
76        199        1522   2016-08-05
77        129        1522   2016-08-05
82        130        1511   2016-08-09
..        ...         ...          ...
457       183        1541   2017-05-19
458       134        1541   2017-05-19
463        12        1522   2017-05-22
464       101        1541   2017-05-22
468        77        1141   2017-05-25
469        58        1541   2017-05-25
472       172        1511   2017-05-27
473        25        1541   2017-05-28
474       125        1511   2017-05-30
475        41        1511   2017-05-31
478       151        1522   2017-06-01
479       200        1521   2017-06-02
480       184        1522   2017-06-02
482       131        1511   2017-06-03
483       104        1522   2017-06-04
484       101        1541   2017-06-05
487       108        1511   2017-06-08
488       154        1511   2017-06-08
489        82        1541   2017-06-08
490       199        1541   2017-06-08
495       110        1511   2017-06-11
497       117        1511   2017-06-12
498       199        1141   2017-06-13
499        82        1141   2017-06-13
506       121        1541   2017-06-24
509       114        1522   2017-06-27
510       102        1522   2017-06-27
511        87        1541   2017-06-27
512       117        1511   2017-06-29
513        46        1541   2017-06-29

[228 rows x 3 columns]

In [23]:
counts2=client[new]['Client ID'].value_counts() #number of services used by client ID for each client
counts2

143    9
41     8
34     7
199    7
82     6
130    5
162    5
46     5
186    5
47     4
178    4
122    4
68     4
151    4
85     4
1      4
118    3
87     3
197    3
174    3
144    3
25     3
70     3
72     3
91     3
23     3
129    3
30     3
183    3
101    3
      ..
105    1
65     1
126    1
195    1
57     1
5      1
190    1
193    1
131    1
12     1
92     1
20     1
56     1
7      1
185    1
10     1
26     1
6      1
102    1
154    1
13     1
38     1
187    1
115    1
19     1
158    1
153    1
103    1
191    1
200    1
Name: Client ID, Length: 108, dtype: int64

In [24]:
newframe['SubUnit ID'].dtype

dtype('int64')

# Attempt to plot subunit ID as X, and number of occurences for each SubUnit as Y in order to show unique number of clients

In [26]:
newframe.plot.bar(x= "SubUnit ID", y= "counts2" , title= "Number of unique amount of clients who had jail services in 16/17 by jail facility");
plot.show(block=True);

KeyError: 'counts2'